name: spaced_flex
description: A Flutter package for easily creating spaced row and column widgets
version: 0.1.0
homepage: https://github.com/rasitayaz/flutter-spaced-flex

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
